 @tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: roboto, sans-serif;
  

}
.active{
  color: rgb(138, 139, 138) !important;
  font-weight: bold !important;
}


.home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url('../assets/background.jpg') no-repeat center center/cover;
  text-align: center;
}

.headerContainer {
  background: rgba(0, 0, 0, 0.6);
  padding: 30px;
  height: 100%;
  width: 100%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

.headerContainer h1 {
  font-size: 3rem;
  color: #fff;
  animation: fadeInDown 1s ease-in-out;
}

.headerContainer p {
  font-size: 1.5rem;
  color: #f8c471;
  margin: 10px 0;
  animation: fadeInUp 1s ease-in-out;
}

.headerContainer button {
  padding: 10px 20px;
  font-size: 1.2rem;
  background: #ff9800;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: transform 0.3s ease-in-out;
}

.headerContainer button:hover {
  transform: scale(1.1);
  background: #e68900;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
} 
@keyframes floating {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0px); }
}

.animate-floating {
  animation: floating 3s ease-in-out infinite;
}

